<div class="container pt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-body">
          <h3>
            {{ title }}
            <div
              *ngIf="loading"
              class="spinner-border text-primary"
              role="status"
            >
              <span class="visually-hidden">Loading...</span>
            </div>
          </h3>
          <span *ngIf="submitted && createFrame.invalid" class="badge bg-danger"
            >Todos los campos son obligatorios</span
          >
          <form
            class="mt-4"
            [formGroup]="createFrame"
            (ngSubmit)="addOrEditFrame()"
          >
            <input
              type="text"
              class="form-control form-control-lg mt-3"
              placeholder="Modelo"
              formControlName="model"
            />
            <select
              class="form-select form-select-lg mb-3 mt-3"
              aria-label=".form-select-lg example"
              formControlName="gender"
            >
              <option selected disabled>Género</option>
              <option value="Mujer">Mujer</option>
              <option value="Hombre">Hombre</option>
              <option value="Unisex">Unisex</option>
            </select>
            <select
              class="form-select form-select-lg mb-3 mt-3"
              aria-label=".form-select-lg example"
              formControlName="material"
            >
              <option selected disabled>Material</option>
              <option value="Metal">Metal</option>
              <option value="Acetato">Acetato</option>
            </select>
            <select
              class="form-select form-select-lg mb-3 mt-3"
              aria-label=".form-select-lg example"
              formControlName="style"
            >
              <option selected disabled>Estilo</option>
              <option value="Aviador">Aviador</option>
              <option value="Ojo de Gato">Ojo de Gato</option>
              <option value="Cuadrado">Cuadrado</option>
              <option value="Deportivo">Deportivo</option>
              <option value="Mariposa">Mariposa</option>
            </select>
            <select
              class="form-select form-select-lg mb-3 mt-3"
              aria-label=".form-select-lg example"
              formControlName="color"
            >
              <option selected disabled>Color</option>
              <option value="Rojo">Rojo</option>
              <option value="Negro">Negro</option>
              <option value="Gris">Gris</option>
              <option value="Azul">Azul</option>
              <option value="Marrón">Marrón</option>
              <option value="Rosa">Rosa</option>
            </select>
            <input
            type="number"
            class="form-control form-control-lg mt-3"
            placeholder="Precio"
            formControlName="price"
          />
            <div class="mt-3">
              <input
                #fileInput
                type="file"
                class="form-control form-control-lg mt-3"
                id="formFileLg"
              />
              <img *ngIf="hasImg" src={{img}} width="350px" height="300px">
            </div>
            <label *ngIf="hasImg" #fileNameLabel></label>
            <div class="mt-3">
              <button
                type="text"
                [disabled]="loading"
                class="btn btn-secondary btn-lg me-3"
                routerLink="/list-frames"
              >
                Volver
              </button>
              <button type="submit" [disabled]="loading" class="btn btn-primary btn-lg">
                {{ buttonText }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
