<div class="container-fluid mt-4 px-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de Anteojos</span>
      <button
        routerLink="/create-frame"
        class="btn btn-primary btn-lg float-end"
      >
        Agregar
      </button>
      <h5 *ngIf="!frames.length">No se encontraron anteojos para mostrar</h5>
      <div *ngIf="frames.length" class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <div *ngFor="let frame of frames | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage" class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card h-100 border border-4">
            <img
              class="card-img-top"
              *ngIf="frame.imageUrl"
              [src]="frame.imageUrl"
              alt="{{ frame.model }}"
            />
            <h5 class="card-title text-center p-3">{{ frame.model }}</h5>
            <div class="card-body fs-5">
              <h5 class="card-title text-danger p-3 fs-4">$ {{ frame.price }}</h5>
              <span class="d-block p-2"><b>Género: </b>{{ frame.gender }}</span>
              <span class="d-block p-2"><b>Color: </b>{{ frame.color }}</span>
              <span class="d-block p-2"
                ><b>Material: </b> {{ frame.material }}</span
              >
              <span class="d-block p-2"><b>Estilo: </b> {{ frame.style }}</span>
            </div>
            <div class="card-footer d-flex justify-content-around">
              <button
                class="btn btn-primary"
                [routerLink]="['/edit-frame/', frame.id]"
              >
                <i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i>
                Editar
              </button>

              <button class="btn btn-primary" (click)="confirmDeleteFrame(frame.id)">
                <i class="fa fa-trash mr-2" aria-hidden="true"></i>
                Eliminar
              </button>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-4">
          <li class="page-item cursor-pointer" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="currentPage = currentPage - 1"> <span aria-hidden="true">&laquo;</span></a>
          </li>
          <li class="page-item cursor-pointer" *ngFor="let page of pageNumbers()" [class.active]="currentPage === page">
            <a class="page-link" (click)="currentPage = page">{{ page }}</a>
          </li>
          <li class="page-item cursor-pointer" [class.disabled]="currentPage === totalPages()">
            <a class="page-link" (click)="currentPage = currentPage + 1"> <span aria-hidden="true">&raquo;</span></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
