/* You can add global styles to this file, and also import other style files */

@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

body {
font-family: 'Hind Siliguri', sans-serif;
}
.card-img-top {
    width: 100%;
    max-height: 250px !important;
    object-fit: cover;
}
.fixed-height {
    height: 200px;
  }
.title-fixed-height {
    height: 50px;
  }

  .cursor-pointer{
    cursor: pointer;
  }